.tab-menu {
    list-style: none;
    height: 80px;
}

.tab-menu li {
    width: 99px;
    height: 40px;
    background-position-y: 0;
    text-indent: -1000px;
    overflow: hidden;
    display: inline-block;
    float: left;
}

.tab-menu li:hover { /* 마우스를 올렸을때 나오는 이벤트 */
    background-position-y: -40px;
}

.tab-menu li.select { /* 메뉴를 눌렀을때 나오는 이벤트 */
    background-position-y: -80px;
    height: 80px;
}

.tab-menu li.menuitem1 {
    background-image: url(../images/newbtn.bar.1.png);
}

.tab-menu li.menuitem2 {
    background-image: url(../images/newbtn.bar.2.png);
}

.tab-menu li.menuitem3 {
    background-image: url(../images/newbtn.bar.3.png);
}

.tab-menu li.menuitem4 {
    background-image: url(../images/newbtn.bar.4.png);
}

.tab-menu li.menuitem5 {
    background-image: url(../images/newbtn.bar.5.png);
}

.tab-menu li.menuitem6 {
    background-image: url(../images/newbtn.bar.6.png);
}