@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
	background-color: #000;
	font-family: 'Oswald', 'Futura', sans-serif;
	margin: 0; 
	padding: 0;}

#page {
	background-color: #403c3b;
	margin: 0 auto 0 auto;}

h1 {
	background-image: url(../images/kinglogo.png);
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	text-indent: -1000%;
	height: 75px;
	line-height: 75px;
	width: 117px;
	margin: 0 auto 0 auto;
	padding: 30px 10px 20px 10px;}

ul {
	background-color: #584f4d;
	border:none;
	padding: 0;
	margin: 0;}

li {
	background-color: #ec8b68;
	color: #fff;
	border-top: 1px solid #fe9772;
	border-bottom: 1px solid #9f593f;
	font-size: 24px;
	letter-spacing: .05em;
	list-style-type: none;
	text-shadow: 2px 2px 1px #9f593f;
	height: 50px;
	padding-left: 1em;
	padding-top: 10px;}

.hot {
	background-color: #d7666b;
	color: #fff;
	text-shadow: 2px 2px 1px #914141;
	border-top: 1px solid #e99295;
	border-bottom: 1px solid #914141;}

.cool {
	background-color: #6cc0ac;
	color: #fff;
	text-shadow: 2px 2px 1px #3b6a5e;
	border-top: 1px solid #7ee0c9;
	border-bottom: 1px solid #3b6a5e;}


li a {
	color: #fff;
	text-decoration: none;
	background-image: url("../images/icon-link.png");
	background-position: center, right;
	background-repeat: no-repeat;
    padding-right: 36px;}
